language: python
dist: bionic

addons:
  postgresql: "9.5"
services:
  - postgresql

install:
  - pip install -r requirements.txt

before_script:
  - psql -c 'create database flaskdb;' -U postgres
script:
  - python manage.py test

deploy:
  provider: heroku
  api_key: 00a74004-6a75-4429-8e93-beb71f247613
  app: flask-app-rsoi

notifications:
  email: false