language: python
dist: bionic

install:
  - pip install -r requirements.txt

env:
  - DB=postgres
  - SH=bash
  - PACKAGE_VERSION="1.0.*"
  - FLASK_APP=simpleapp.py
  - FLASK_ENV=development

script:
  - set
  - flask run

deploy:
  provider: heroku
  api_key: 00a74004-6a75-4429-8e93-beb71f247613
  app: flask-app-rsoi

notifications:
  email: false