Click==7.0
Flask==1.1.1
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
-e git+https://github.com/darialukash/flask-app.git@a073bbec32f66ab16118260677f90dda6b6461e0#egg=simpleapp
Werkzeug==0.15.6
